body {
    margin-top: 0;
}

h1 {
    width: 100vw;
    text-align: center;
}

.display-flex-row {
    display: flex;
    flex-direction: row;
}

.flex-auto-in-row {
    flex: auto;
    min-width: 0;
}

.index-image {
    width: 65%;
    height: auto;
}

.screenshot-image {
    width: 100%;
}

.little-padding-right {
    padding-right: 20px;
}

.image-with-text {
    display: flex;
    align-items: center;
}
